pycache/
*.pyc
*.pyo
*.pyd
*.so
*.dll

venv/
env/
*.conda
*.egg-info/
.Python

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.idea

data/
save/*
checkpoints/
logs/
outputs/

*.npy
*.npz
*.nc
*.csv
*.tsv
*.xlsx
*.xls
*.mat

*.pt
*.pth
*.h5
*.ckpt
*.onnx
*.pb

*.zip
*.tar
*.tar.gz
*.7z
*.rar

!save/wrf_July/best_model.pth.tar
!save/wrf_July/fig
!save/model.png
